@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Hiragino Kaku Gothic Pro ', 'Meiryo';
    font-size: 20px;
    border-top: 10px solid #797979 !important;
    margin: 0;
    padding: 0;

}
.logo{
    text-align: center;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
}
.logo img{
    text-align: center;
    width: 100%;
    height: auto;
}
.header .explain{
    text-align: center;
    text-shadow: 3px 3px #e364ef;
} 
.ttl img{
    text-align: center;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
}
.rightimg img{
    position: absolute;
    top: 25px;
    right: 18px;
    width: 90px;
    height: auto;
    z-index: 1000;
}
a{
    text-shadow:3px 3px #e364ef ;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
    text-shadow: 3px 3px #e364ef;
}
