@charset "UTF-8";
body{
    text-align: center;
    width: 400px;
    height: 667px;
    margin: 0 auto;

    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo';
    font-size: 20px;
    border-top: 10px solid #797979 !important;
    margin: 0;
    padding: 0;
}
.logo{
    width: 400px;
    height: 667px;
    margin: 0 auto;
}
.logo img{
    text-align: center;
    width: 100%;
    height: auto;
}
.header .explain{
    text-align: center;
    text-shadow: 3px 3px #f39ac9;
}
.ttl img{
    text-align: center;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
}

.explain{
    letter-spacing: 0.2em;
}
a{
    text-shadow: 3px 3px #f3a5db;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
    text-shadow: 3px 3px #f39af2
}
