@charset "UTF-8";
body{
    text-align: center;
    width: 400px;
    height: 670px;
    margin: 0 auto;

    font-family: 'Hiragino Kaku Gothic Pro ', 'Meiryo';
    font-size: 20px;
    border-top: 10px solid #797979 !important;
    margin: 0;
    padding: 0;
}

.logo{
    text-align: center;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    
}
.logo img{
    text-align: center;
    width: 100%;
    height: auto;
}
.header .explain{
    text-align: center;
    text-shadow: 3px 3px #ebf49b;
} 
.ttl img{
    text-align: center;
    width: 100%;
    max-width: 570px;
}
a{
    text-shadow: 3px 3px #eaf4a6;
}
h2{
    text-align: center;
    text-shadow: 3px 3px #f2f19f;
}