@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Playfair Display';
    font-size: 20px;
    border-top: 10px solid #797979 !important;
    margin: 0;
    padding: 0;
}

.logo{
    text-align: center;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    
}
.logo img{
    max-width: 100%;
    height: auto;
}
.header .explain{
    text-align: center;
}
.ttl img{
    text-align: center;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
}
.rightimg img{
    position: absolute;
    top: 25px;
    right: 18px;
    width: 90px;
    height: auto;
    z-index: 1000;
}
.explain{
    font-family: 'Fredoka One' sans-serif;
    letter-spacing: 0.2em;
    text-shadow: 3px 3px #b89f9f;
}
h2{
    text-align: center;
}
a{
    text-shadow: 3px 3px #b89f9f;
}